/*Nicky Devilee
Bol4 applicatieontwikkelaar
Week 5 - HTML, CSS
opdracht: Week 5 - Gehaktbrood*/

/*instellingen voor het navigatie menu.*/
.menu {
    background-color: #000000;
    overflow: hidden;
}

.menu a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/*instellingen wanneer de muis over het menu hovert*/
.menu a:hover {
    background-color: lightgrey;
    color: black;
}

/*instellingen voor de actieve pagina*/
.menu a.actief {
    background-color: #FF0000;
    color: white;
}

.startpagina{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

.startpagina-foto{
    width: 200px;
}

.pagina{
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
}

body{
	margin: 0 25%;
}

.intro{
    font-size: 24px;
    line-height: 32px;
}

h2, h3{
    font-size: 32px;
    line-height: 32px;
}

.ingrediënten{
    margin-top: 40px;
    margin-bottom: 40px;
}

.ingrediënten, li{
	margin-bottom: 10px;
}

h1{
	font-size: 36px;
	line-height: 36px;
    margin-top: 40px;
}

ol li{
    margin-bottom: 20px;
}

li{
    font-size: 20px;
    line-height: 26px;
}

img{
	width: 60%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.tip{
    background-color: #def6ed;
    border: 1px solid #def6ed;
    border-radius: 4px;
    padding: 25px;
    margin-bottom: 50px;
}